*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.main{
background-color: cornflowerblue;
height: 55%;
width: 400px;
border-radius: 90px;
} 


.header{
    background-color: dodgerblue;
    width: 100%;
    height:  10%;
    text-align: center;
    padding: 4px;
}



.container{
    height: 90%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 4% 4% 4%;
    text-align: center;
}

.container form{
    height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    
}

.container .gender{

display: flex;
flex-direction: row;
justify-content: space-between;
}

.container form label.man{
  
       width: 45%;
    background-color: blue;
   
    
   
}
.container form label.woman{
    

    background-color: deeppink;
       width: 45%;
    /* width: 50%; */
    
}

.container form .input-tinggi{
     display: flex;
    flex-direction: column;
    justify-content: center;
       width: 100%;
    height: 20%;
     text-align: center;
     background-color: aliceblue;
    

}



p#hasil{
   
    
    height: 20%; 
    background-color: white;
    text-align: center;
    color: brown;
    font-weight: 700;
    font-size: medium;
    padding: 9px 0;

}

.resizedTextbox { width: 100%;  height: 20%;}



.button-grup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    
}

.button{
      width: 45%;
    height: 100%;
    background-color:blue;
    border-color: blue;
}